
.mintingPageParagraphStyle{
  color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
}

.mintingPageTitleStyle{
  color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
}

.mintingPageSubTitleStyle{
  color: #f2f2f2;
  font-family: 'Quattrocento Sans', sans-serif;
}

.nftPosterCol{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media(min-width: 992px) and (max-width: 1199px){
    margin-top: 10rem;
  }
  //width: 100%;
}

.mintingPagePositioning{
  //margin: 100px 150px 0px 50px;
  padding-inline: 5%;

  @media (max-width: 768px ){
    padding-inline: 10%;

  }
  padding-block:32px ;
}

.nomadMintingPagePriceButton{
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
  background: rgba(195, 202, 206, 0.1);
  border: none;
  border-radius: 10px 0px 0px 0px;
}

.nomadMintingPageAvailableButton{
  width: 100%;
  height: 100px;
  background: rgba(195, 202, 206, 0.1);
  border: none;
  border-radius: 0px 10px 0px 0px;
}

.nomadMintingPageTitleButton{
  width: 100%;
  height: 100px;
  background: rgba(195, 202, 206, 0.1);
  border: none;
  border-radius: 0px 0px 0px 10px;
}

.nomadMintingPageTitle2Button{
  width: 100%;
  height: 100px;
  background: rgba(195, 202, 206, 0.1);
  border: none;
  border-radius: 0px 0px 10px 0px;
}

.columnPositioning2{
  padding-left: 0px;
}

.columnPositioning1{
  padding-right: 5px;
}

.containerButtons{
  padding: 0px;
}
.connectWalletBtn{
  width: 100%;
  margin-top: 40px;
  font-family: 'Roboto Mono', monospace;
}

.footerContainer{
  margin: 80px 0px 0px 0px;
}