.nomadNavBar{
  font-family: 'Roboto Mono', monospace;
}

.brandPositioning{
  width: 25%;
  margin: 2rem 0rem 0rem 5rem;

  @media (max-width: 992px) {
    width: 25%;
    margin: 2rem 0rem 0rem 1rem;
  }
}

.nomadNavBarUL{
  list-style-type: none;
  color: #f2f2f2;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  align-items: center;
}

.nomadNavBarLi{
  display:inline-block;
  margin: 0px 30px 0px 0px;
}
.nomadNavBarButtonTwitter{
  margin: 0 15px;
  background: rgba(195, 202, 206, 0.1);
  border: none;
}

.nomadNavBarButtonWallet{
  margin: 0 15px;
  background: rgba(195, 202, 206, 1);
  border: none;
}

.nomadNavBarButtonConnectWallet{
  margin: 0px 30px 0px 0px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: large;
}

.itemsPositioning{
  justify-content: center !important;
  display: flex;
  width: 100%;
}

itemColor{
  color: white;
}

@media (max-width: 992px){
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 15px 0;
  }

  .navbar-right{
    margin: 30px 0 !important;
  }

  .navbar .navbar-collapse {
    text-align: center;
    box-shadow: 0px 15px 6px -15px rgba(195, 202, 206, 0.4) !important;
    margin-bottom: 30px;
  }



}


